@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(223, 223, 223);
    text-align: center;
}

body{
    font-family: montserrat, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 3.5em;
    background: url(fondo.png) no-repeat center center fixed;
    background-color: #140a04;
}

.logo{
    max-width: 120px;
    height: auto;
    margin-bottom: 1em;
}

a{
    text-decoration: none;
    color: inherit;
}

p.primario{
    font-size: 18px;
    font-weight: 500;
}

.container{
    width: min-content;
    align-items: center;
    margin: 0 auto;
    padding: 2.5em;
    border: 1px solid #e09b1a93;
    background-color: #25100383;
    border-radius: 30px;
    box-shadow: 0 0px 16px 0 rgba(126, 106, 70, 0.089);
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contenedorinterno{
    width: max-content;
    min-width: auto;
        align-items: center;
}

#bottone1 {
    display: block;
    width: 100%;
    margin: 1em 0 0 0;
 padding-left: 33px;
 padding-right: 33px;
 padding-bottom: 12px;
 padding-top: 12px;
 border-radius: 18px;
 background: #745003;
 border: 1px solid #e09b1a93;
 font-family: inherit;
 font-size: 16px;
 text-align: center;
 cursor: pointer;
 transition: 0.4s;
}

#bottone1:hover {
 background-color: #DB9708;
}



